@model OPBids.Entities.View.DTS.DocumentSearchVM
@Scripts.Render("~/bundles/dtsFilterScript")
@Styles.Render("~/Content/filter")
<table class="filterContainer">
    <tr class="form-inline">
        <td></td>
        <td colspan="3" class="search-duration">
            <ul>
                <li><input type="radio" name="durationOpt" value="0" dateValFrom="@System.DateTime.Now.AddDays(DayOfWeek.Sunday - System.DateTime.Now.DayOfWeek).ToString("dd-MMM-yyyy")" dateValTo="@System.DateTime.Today.AddDays(DayOfWeek.Saturday - System.DateTime.Now.DayOfWeek).ToString("dd-MMM-yyyy")" /> <span class="search-label">This Week</span></li>
                <li><input type="radio" name="durationOpt" value="1" dateValFrom="@(new System.DateTime(System.DateTime.Today.Year, System.DateTime.Today.Month, 1).ToString("dd-MMM-yyyy"))" dateValTo="@(new System.DateTime(System.DateTime.Today.Year, System.DateTime.Today.Month + 1, 1).AddDays(-1).ToString("dd-MMM-yyyy"))" checked="checked" /> <span class="search-label">This Month</span></li>
                <li><input type="radio" name="durationOpt" value="3" dateValFrom="@System.DateTime.Now.AddDays(-60).ToString("dd-MMM-yyyy")" dateValTo="@DateTime.Today.ToString("dd-MMM-yyyy")" /> <span class="search-label">Last 60 Days</span></li>
            </ul>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="text-right"><label for="u_date_submitted_from" class="control-label">@Html.DisplayNameFor(m => m.date_submitted_from)</label>:</td>
        <td><input type="text" id="u_date_submitted_from" class="form-control" datetime /></td>
        <td class="text-right"><label for="u_date_submitted_to" class="control-label">@Html.DisplayNameFor(m => m.date_submitted_to)</label>:</td>
        <td><input type="text" id="u_date_submitted_to" class="form-control" datetime /></td>
        <td></td>
    </tr>
    <tr>
        <td class="text-right"><label for="u_etd_from" class="control-label">@Html.DisplayNameFor(m => m.etd_from)</label>:</td>
        <td><input type="text" id="u_etd_from" class="form-control" datetime /></td>
        <td class="text-right"><label for="u_etd_to" class="control-label">@Html.DisplayNameFor(m => m.etd_to)</label>:</td>
        <td><input type="text" id="u_etd_to" class="form-control" datetime /></td>
        <td></td>
    </tr>
    <tr>
        <td class="text-right"><label for="u_sender_id" class="control-label">@Html.DisplayNameFor(m => m.sender_name)</label>:</td>
        <td>
            <select id="u_sender_id" class="form-control selectpicker" multiple data-actions-box="true" data-live-search="true" data-none-selected-text>
                @foreach (var i in OPBids.Web.Helper.UserInfoStore.GetSenderRecipient(Request.GetOwinContext()))
                {
                    if (i.is_sender == true)
                    {
                        <option department_id="@i.department_id" userid="@i.user_id" value="@i.id">@i.full_name</option>
                    }
                }
            </select>
        </td>
        <td class="text-right"><label for="u_receipient_id" class="control-label">@Html.DisplayNameFor(m => m.receipient_name)</label>:</td>
        <td>
            <select id="u_receipient_id" class="form-control selectpicker" multiple data-actions-box="true" data-live-search="true" data-none-selected-text>
                @foreach (var i in OPBids.Web.Helper.UserInfoStore.GetSenderRecipient(Request.GetOwinContext()))
                {
                    if (i.is_recipient == true)
                    {
                        <option department_id="@i.department_id" userid="@i.user_id" value="@i.id">@i.full_name</option>
                    }
                }
            </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="text-right"><label for="u_category_id" class="control-label">@Html.DisplayNameFor(m => m.category_name)</label>:</td>
        <td>
            <select id="u_category_id" class="form-control selectpicker" multiple data-actions-box="true" data-live-search="true" data-none-selected-text>
                @foreach (var i in OPBids.Web.Helper.UserInfoStore.GetDocumentCategory(Request.GetOwinContext()))
                {
                    <option desc="@i.document_category_name" value="@i.id">@i.document_category_code</option>
                }
            </select>
        </td>
        <td class="text-right"><label for="u_document_type_id" class="control-label">@Html.DisplayNameFor(m => m.document_type_name)</label>:</td>
        <td>
            <select id="u_document_type_id" class="form-control selectpicker" multiple data-actions-box="true" data-live-search="true" data-none-selected-text>
                @foreach (var i in OPBids.Web.Helper.UserInfoStore.GetDocumentType(Request.GetOwinContext()))
                {
                    <option desc="@i.document_type_description" categoryId="@i.document_category_id" userid="@i.id  " value="@i.id">@i.document_type_code</option>
                }
            </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="text-right"><label for="u_batch_id" class="control-label">@Html.DisplayNameFor(m => m.id)</label>:</td>
        <td><input type="text" id="u_batch_id" number maxlength="15" class="form-control" /></td>
        <td class="text-right"><label for="u_barcode_no" class="control-label">@Html.DisplayNameFor(m => m.barcode_no)</label>:</td>
        <td><input type="text" id="u_barcode_no" maxlength="17" class="form-control" /></td>
        <td></td>
    </tr>
    <tr>
        <td class="text-right"><label for="u_document_code" class="control-label">@Html.DisplayNameFor(m => m.document_code)</label>:</td>
        <td colspan="3"><input type="text" id="u_document_code" maxlength="40" class="form-control" /></td>
        <td><button type="button" class="btn btn-primary fa-align-left icon ion-search">SEARCH</button></td>
    </tr>
</table>
