@model OPBids.Entities.View.Auth.ChangePwdVM

@{
    ViewBag.Title = "ChangePassword";
    // Layout = "~/Views/User/ChangePassword.cshtml"
}

<style>
    .bottomborder
    {
        border-width:0px;
        border-bottom-width:1px;
        border-bottom-color:gray;
        font-size:large;
        margin-right:50px;
    }
</style>

<div class="p-view-header">
    <h2 id="headerTitle">Change Password</h2>
</div>

<h4>
    Choose a strong password and don't reuse it for other accounts.
</h4>
@using (Html.BeginForm("ChangePassword", "ChangePassword", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class=" col-lg-4 col-sm-4" id="saveModal">
        <div class="form-horizontal">
            <div class="box-body">

                @Html.HiddenFor(model => model.act_code)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-lg-offset-1">
                        <h5>
                            Choose strong password and don't re-use it for other accounts
                        </h5>
                    </div>

                </div>
                <div class="form-group">
                    <div class="login-password">
                        @Html.EditorFor(model => model.new_pwd, new { htmlAttributes = new { @class = "form-control login-textbox col-xs-10 col-xs-push-1 bottomborder", @placeholder = "New Password" } })
                        @Html.ValidationMessageFor(model => model.new_pwd, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-1">
                        <h5>
                            Note: Use atleast 8 characters. Don't use password from another site or something 
                            too obvious like your pets name or your own nickname.
                        </h5>
                    </div>

                </div>

                <div class="form-group">
                    <div class="login-password">
                        @Html.EditorFor(model => model.con_pwd, new { htmlAttributes = new { @class = "form-control login-textbox col-xs-10 col-xs-push-1 bottomborder", @placeholder = "Confirm Password" } })
                        @Html.ValidationMessageFor(model => model.con_pwd, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="form-group btn-section">
                    <div class="col-lg-offset-1 ">
                        @*<input type="submit" id="btnChangePwd" value="Change Password" class="btn btn-primary form-control" />*@
                        <button type="submit" id="btnCancel" class="btn btn-primary btn-custom btn-custom-color-red"><span class="fa fa-times"></span> Cancel</button>
                        <button type="submit" id="btnChangePwd" class="btn btn-primary btn-custom btn-custom-color-green saveinfo"><span class="fa  fa-check"></span> Save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script type="text/javascript">

    $().ready(function () {

        $("#btnChangePwd").unbind();

        var validation = function () {

            if (Site.ValidatePassword($("#new_pwd").val())) {
                Site.Dialogs.Alert("Please enter a proper password!", "Ok", null);
                return false;
            };
            if ($("#new_pwd").val() !== $("#con_pwd").val()) {
                Site.Dialogs.Alert("Password does not match!", "Ok", null);
                return false;
            }

            if ($("#new_pwd").val() == "" || $("#con_pwd").val() == "") {
                Site.Dialogs.Alert("Password cannot be blank", "Ok", null);
                return false;
            }

            return true;
        }


        var ExecutePost = function () {

            if (validation() != true) {
                return false;
            }

            $.ajax({

                url: "@Url.Content("~/ChangePassword/ChangePasswordAjax")",
                type: "post",
                data: $("form").serialize(),
                success: function (data) {

                    if (data.isSuccess == true) {
                        Site.Dialogs.Alert("Your password has been changed successfully!", "Got it!", function () {

                            window.location.href = '@Url.Content("~/User/ChangePassword")';

                        });
                        
                    }
                    else {
                        Site.Dialogs.Alert("Error changing password", "Ok", null);
                        return false;
                    }

                },
                error: function () {
                    alert('Error');
                }

            });


            return false;
        };


        $("#btnChangePwd").on("click", ExecutePost);

        

    });

    @*var ChangePassword = {
        Initialize: function () {
            localStorage.clear();

            console.log(@ViewBag.Success);

            if (@ViewBag.Success === true) {
                Site.Dialogs.Alert("Your password has been changed successfully!", "Got it!", null);
               // window.location.href = "@Url.Action("", "User/ChangePassword")";
            };
            $("#btnChangePwd").unbind();
            $("#btnChangePwd").click(function (e) {
                if (Site.ValidatePassword($("#new_pwd").val())) {
                    Site.Dialogs.Alert("Please enter a proper password!", "Ok", null);
                    return false;
                };
                if ($("#new_pwd").val() !== $("#con_pwd").val()) {
                    Site.Dialogs.Alert("Password does not match!", "Ok", null);
                    return false;
                }

                if ($("#new_pwd").val() =="" ||  $("#con_pwd").val() =="") {
                    Site.Dialogs.Alert("Password cannot be blank", "Ok", null);
                    return false;
                }



                  ///  Site.Dialogs.Alert("Your password has been changed successfully!", "Got it!", null);
                   // window.location.href = "@Url.Action("", "User/ChangePassword")";
                   /// return true;

            });

            $("#btnOk").unbind();
            $("#btnOk").click(function () {
               // window.location.href = "@Url.Action("", "User/ChangePassword")";
            });
        }
    }
    $(function () {
        ChangePassword.Initialize();
    });*@
</script>



