@model OPBids.Entities.View.Auth.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_UnAuthenticated.cshtml";
}

<style type="text/css">
    body {
        background-color: #f2f2f2;
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        height: 100vh;
    }

    .body-content {
        overflow: unset !important;
    }

    .login-container {
        background-color: #fff;
        padding: 20px;
        min-height: 450px;
        min-width: 350px;
    }

    .logo-section img {
        margin-top: -105px;
        margin-bottom: 50px;
    }

    .login-textbox {
        border: none;
    }

    .login-id {
        background-image: url("../../Content/images/icon-user-login.png");
        background-position: 10px 5px;
        background-repeat: no-repeat;
        background-size: 26px auto;
    }

    .login-password {
        background-image: url("../../Content/images/icon-lock.png");
        background-position: 10px 5px;
        background-repeat: no-repeat;
        background-size: 24px auto;
    }

    .btn-section {
        margin-top: 20px;
    }

    .help-section {
        margin-top: 50px;
    }
</style>


@using (Html.BeginForm("Login", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="login-container">
            <div class="logo-section">
                <img src="~/Content/images/mmda-logo.png" />
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-xs-11 login-id">
                    @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control login-textbox col-xs-10 col-xs-push-1", @placeholder = "User ID" } })
                    @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-11 login-password">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control login-textbox col-xs-10 col-xs-push-1", @placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group btn-section">
                <div class="col-md-12">
                    <input type="submit" value="Login" class="btn btn-primary form-control" />
                </div>
            </div>

            <div class="col-xs-2 col-xs-push-10 help-section">
                <a href='@Url.Action("Index","ForgotPassword")'>
                    <img src="~/Content/images/icon-help.png" />
                </a>
            </div>
        </div>

    </div>

    <div data-backdrop="static" class="modal fade" id="dataResetModal" tabindex="-1" role="dialog" aria-labelledby="dataResetModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight:bold;">Reset your password</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-sm-4"><span class="fa-align-right">Email address</span></div>
                        <div class="col-sm-8"><input type="email" id="txtemail" class="form-control" placeholder="Please type email address" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="fa-align-right">Confirm email address</span></div>
                        <div class="col-sm-8"><input type="email" id="txtconfirmemail" class="form-control" placeholder="Please type email address" /></div>
                    </div>
                </div>
                <table class="modal-body">
                    <tr>
                        <td>

                        </td>

                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var LOGIN = {
        Initialize: function () {
            localStorage.clear();

            //$(".help-section").unbind("click");
            //$(".help-section").click(function (e) {
            //    e.preventDefault();
            //    $("#txtemail").val("");
            //    $("#txtconfirmemail").val("");
            //    $('#dataResetModal').modal('show');
            //})

            $("#btnSave").unbind("click");
            $("#btnSave").click(function (e) {
                e.preventDefault();
                if ($("#txtemail").val() === $("#txtconfirmemail").val()) {                    
                    var _result;
                    var param = {
                        'email_address': $("#txtemail").val()
                    };
                    var _filter = JSON.stringify({
                        'accessUsers': param,
                    });
                    ajaxHelper.Invoke(
                        "/Setting/ResetAccessUserPassword",
                        _filter,
                        "json",
                        LOGIN.renderResetPasswordCallback(_result));
                } else {
                    Site.Dialogs.Alert("Password should match!", "Ok", null);
                }
            })
        },
        renderResetPasswordCallback: function (result) {
            return function (result) {
                if (result.status.code == 0) {
                    $('#dataResetModal').modal('hide');
                    Site.Dialogs.Alert("Reset password successful.<br>Please check email for Change Password link.", "Close", null);
                } else {
                    Site.Dialogs.Alert("Error resetting password. Please try again.", "Close", null);
                }
            }
        } 
    }
    $(function () {
        LOGIN.Initialize();
    });
</script>

